.hopsBtn {
    margin-top: 5px;
}

.combinationSearchContainer div {
    margin-bottom: 5px;
}

.hiddenComponent {
    visibility: hidden;
}

.shortestPathSearchContainer div {
    margin-bottom: 5px;
}

.nodeLabel {
    margin-top: 32px;
}

#centrality {
    width: 1200px;
    height: 600px,
}

#shortestPathTable {
    max-height: 600px;
    overflow: scroll;
}