.searchInputGroup {
    display: ruby !important;
}

.searchRow {
    width: 600px !important;
    display: flex;
}

.searchCol {
    outline: none !important;
}

.searchText {
    width: 250px !important;
}

.advancedSearchText {
    width: 90px !important;
}
